<p>gis works!</p>
<div class="row">
    <div class="col-6" id="text" style="margin-top: 150px;">
        <h1>Gis mainenence</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut repellendus hic nihil deleniti? Inventore quasi vitae ut rerum! Voluptates ratione expedita iusto ipsum odit beatae eos, fuga officia quo suscipit!</p>
    </div>
    <div class="col-6">
      <img src="../../../assets/gps.jpg" alt="" style="width: 628px;" >
    </div>
   
  </div>