<div class="row" id="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/aircraft.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Aerospace bussiness Unit</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="aerospace.html" class="card-link" routerLink="/aeroplane">visit</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/bmw.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mobility bussiness unit</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="mobility.html" class="card-link">visit</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/bank.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Banking and financial</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="banking.html" class="card-link">visit</a>
            </div>
          </div>
    </div>

</div>
<div class="row" id="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/gps.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GIS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="gis.html" class="card-link" routerLink="/gis">visit</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/health.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Healthcare bussiness unit</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="healthcare.html" class="card-link" routerLink="/health">visit</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/indus.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Industrial business unit</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="industrial.html" class="card-link">visit</a>
            </div>
        </div>
    </div>
    
</div>

 
  
